.form{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_row{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 60px;
}
.form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_input{
    margin-top: 5px;
}
.form_input_select{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}
.input_label{
    font-weight: bold;
}
.error_message{
    margin-top: 5px;
    color: red;
    opacity: .8;
}
.btn {
    font-size: 25px;
    border-radius: 6px;
    background-color:rgb(59, 175, 184);
    color: white;
    border: 2px solid;
    padding: 5px 20px 5px 20px;
    transition-duration: 0.4s;
    margin: 0px 10px 5px;
}
.btn:hover {
    transform: scale(1.1);
  }

.pdfviewer{
    width: 100vw;
    height: 1200px;
}
.btn_validate:before{
    content:'Visualizar PDF'
}
@media (max-width: 1025px) {
    .btn_validate:before{
        content:'Finalizar'
    }
 }

 .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal_content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn_modal {
    width: 30%;
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}
.btn_modal_no {
    width: 30%;
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px;
    background-color: rgb(255, 97, 97);
    border: none;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.btn_modal_no:hover{
    opacity: 0.6;
}
.btn_modal:hover{
    opacity: 0.6;
}

body.active_modal {
    overflow-y: hidden;
}