.btn {
  font-size: 25px;
  border-radius: 6px;
  background-color: rgb(59, 175, 184);
  color: white;
  border: 2px solid;
  padding: 5px 20px 5px 20px;
  transition-duration: 0.4s;
  margin: 0px 10px 5px;
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn_validate {
  background-color: green;
}
.btn_clean {
  background-color: red;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

  .btn {
    margin: 15px;
  }
}
