.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn_modal {
  width: 30%;
  padding: 5px 10px;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
}
.btn_modal_no {
  width: 30%;
  padding: 5px 10px;
  font-size: 14px;
  margin: 10px;
  background-color: rgb(255, 97, 97);
  border: none;
  color: white;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.btn_modal_no:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn_modal:hover {
  transform: scale(1.1);
  cursor: pointer;
}

body.active_modal {
  overflow-y: hidden;
}